.popup-img-block__close {
    position: absolute;
    right: 0px;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0);
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.popup-img-block__close img {
    width: 32px;
    height: 32px;
}

@media (max-width:768px) {
    .popup-img-block__close img {
        width: 20px;
        height: 20px;
    }
}