.popup-container {
    width: 470px;
    height: 370px;
    margin: auto;
    /* margin-top: 155px; */
    position: relative;
}

@media (max-width:768px) {
    .popup-container {
        width: 282px;
        height: 358px;
        /* margin-top: 87px; */
        position: relative;
    }
}