.unheart {
    position: absolute;
    background-color: rgba(255, 0, 0, 0);
    background-image: url('../../images/Union.svg');
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    right: 0;
    border: none;
    cursor: pointer;
}

.unheart:hover {
    opacity: 0.5;
}