.popup-img-block__close {
    position: absolute;
    right: 0px;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0);
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-image: url('../../../images/Close-Icon.svg');
    width: 32px;
    height: 32px;
}

@media (max-width:320px) {
    .popup-img-block__close {
        width: 20px;
        height: 20px;
        background-size: cover;
    }
}